<settings version="1">
	<section id="plugin.video.kpl.ksportowy">

		<category id="ks_main" label="30101" help="">
			<group id="11" label="30102">
				<setting id="change_credentials" type="action" label="30102" help="">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.kpl.ksportowy/change_credentials)</data>
					<control type="button" format="action">
						<close>true</close>
					</control>
				</setting>
			</group>
		</category>

	</section>
</settings>